.rightBar {
  padding: 1rem;
    border-radius: 5px;
    line-height: 1.5;
    height: max-content;

  &__sidebar {
    padding: 1rem;
    border-radius: 5px;
    line-height: 1.5;
    width: 25rem;

    img {
      width: 30rem;
      height: auto;
      max-height: 50rem;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 1rem;
    }

   
  }

}


  

