$bordercolor: rgba(128, 128, 128, 0.356);
.postCard {
  display: flex;
  flex-direction: column;
    margin: 1rem 0;
    padding: 20px;
    border: 1px solid $bordercolor ;
    border-radius: 5px;
    line-height: 1.5;
  
    
    background-color: white;
    h5{
      text-transform: capitalize;
      margin: 0 5rem;
    }
    header {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      
      h3 {
        font-size: 1.25rem;
        flex: 1;
      }
      
    }
  
    
    button {
      background-color: $bordercolor;
      border-radius:  5px; ;
      padding: 5px;
      width: 4rem;
     
      margin-left:auto ;
    }
    button:hover{
      opacity: 70%;
    }
    svg{
      margin: 0 0.2rem
    }
  
    
  }
  .title{
    text-transform: capitalize;
    margin: 1rem 5rem;
  }
  .userPhoto{
    border-radius: 100%;
    height: 3rem;
    width: auto;
  }

  span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 20px;
    padding: 5px;
    border-radius: 10px;
    
  }
  .reactionsInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #reactions:hover{
    background-color: rgba(113, 18, 144, 0.244);
  }
  #comments:hover{
    background-color: rgba(113, 18, 144, 0.244);
  }
  #read{
    margin-left: auto;
  }
  