body {
    text-align: center;
    background-color: lightgray;
}

.container {
    background: white;
    width: 700px;
    height: 900px;
}

.btn-apple {
    background-color: black;
    color: azure;
    width: 500px;
    height: 30px;
}

